body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main .users_table {
  -webkit-box-shadow: 0 0 10px 0 #8f8f8f;
  box-shadow: 0 0 10px 0 #8f8f8f;
}

main h1 {
  margin-top: 15px;
  margin-bottom: 30px;
}
